*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
header{
  margin-top: 20px;
}
body{
  margin: 50px 0;
}
table{
  border-spacing: 5px 10px;
}
.row1{
  padding-top: 40px;
}
.row2{
  padding-bottom: 40px;
}
.container{
  width: 100px;
  border: 3px solid #eeeeee;
  border-radius: 5px;
}
.registration{
  background-color: #eeeeee;
  font-size: 15px;
}
.new{
  background-color: #eeeeee;
  font-size: 20px;
}
.gray{
  background-color: #eeeeee;
  font-size: 20px;
}
.headline{
  text-align: center;
}
.form{
  border-radius: 5px;
  margin-bottom: 5px;
}
.submit{
  margin-top: 10px;
}
.w-50{
  width: 50%;
}
.w-25{
  width: 25%;
}
.session-table-box{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain{
  height: 50px;
}
.registration-table-box{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  font-size: 16px;
}
.admin-table-box{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.strong{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.td-headline{
  width: 170px;
  background-color: #cccccc;
}
.td-headline1{
  width: 200px;
}
.td-body{
  width: 400px;
}
.bottun{
  margin-right: 10px;
}
.table-bottun{
  text-align: center;
  margin-top: 10px;
}
.text{
  text-align: center;
}
.withdraw1{
  display: inline-block;
  margin-left: 30px;
}
.thead-headline{
  background-color: #cccccc;
  height: 30px;
}
.td-index1{
  width: 150px;
  padding-left: 10px;
}
.td-index2{
  width: 300px;
  padding-left: 20px;
}
.td-index3{
  width: 300px;
  padding-left: 30px;
}
.td-index4{
  width: 300px;
  text-align: center;
}
.status{
  margin: 0;
  padding: 3px 0;
}
.user-index-table{
  border-width: 1px 0;
}
.user-index{
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px 0;
}

.genre-table{
  padding-left: 10px;
}
.td-index{
  padding-right: 30px;
  padding-left: 30px;
}
.td-index:nth-child(3){
  width: 150px;
}
.genre-table{
  height: 10px;
}
.genre-button{
  margin-top: 10px;
}
.td-genre-table{
  width: 150px;
}
 .td-genre-table2{
  width: 300px;
 }
 .th-item{
  padding-left: 10px;
 }
 .th-item:nth-child(1){
  width: 70px;
 }
 .th-item:nth-child(3){
  width: 100px;
 }
 .th-item:nth-child(4){
  width: 150px;
 }
 .th-item:nth-child(5){
  width: 150px;
 }
 .th-item{
  padding-right: 20px 
  padding-left: 40px;
 }
 .td-item{
  padding-top: 10px;
  padding-bottom: 10px; 
  padding-left: 10px;
 }
 .item-tables{
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px 0;
 }
 .sales-status{
  margin: 0;
 }
 .item{
  float: left;
 }
 .user-item-detail{
  margin-right: 10px;
 }
 .public-item-index{
  padding-left: 40px;
 }
 .search{
  border: solid 1px;
  border-color: #eeeeee;
 }
.item-box{
  float: left;
}
.item-box:nth-child(1){
  margin-right: 10px;
}
.item-amount{
  margin-left: 100px;
  margin-right: 20px;
}
.span{
  margin-bottom: 20px;
}
.span:nth-child(2){
  margin-top: 30px;
}
.th-cart-item{
  height: 30px;
  padding-left: 10px;
  width: 120px;
}
.th-cart-item:nth-child(1){
  width: 300px;
}
.items-table{
  background-color: #eeeeee;
}
.image{
  margin-right: 20px;
}
.item-name{
  margin-top: 10px;
  font-size: 15px;
}
.total-table{
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px 1px;
}
.total{
  width: 80px;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.total-payment{
  background-color: #eeeeee;
  font-size: 10px;
}
.row3{
  padding-top: 200px;
  padding-bottom: 200px;
}
.order-headline{
  font-size: 18px;
  margin-bottom: 15px;
}
.order-detail{
  padding-left: 30px;
}
.th-confirm{
  padding-left: 10px;
  width: 90px;
}
.th-confirm:nth-child(1){
  width: 250px;
}
.td-confirm{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; 
}
.confirm-detail{
  padding: 5px 10px;
}
.confirm-detail:nth-child(1){
  width: 200px;
}
.confirm{
  padding: 5px 10px;
}
.complete{
  font-size: 20px;
}
.th-index-box{
  width: 150px;
  padding: 10px 0 10px 10px;
}
.admin-user-detail{
  font-size: 18px;
  padding: 10px;
}
 .th-detail-item{
  padding: 10px;
 }
 .td-detail-item{
  width: 100px;
  padding: 5px;
  padding-left: 10px;
 }
 .td-detail-item:nth-child(1){
  width: 150px;
 }
 .td-detail-item:nth-child(5){
  padding-left: 30px;
 }
.font{
  font-size: 15px;
}
.production-status{
  width: 250px;
  padding-left: 30px;
}
.error-text{
  color: red;
  font-size: 13px;
}